.project__item__container{
    border-bottom: 5px #58a8f2 solid;
    box-shadow: 0 2px #0070ba;
    padding: 5px 15px;
}

.project__item__name{
    color: #0070ba;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.project__item__c2{
    width: 95%;
}

.project__item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project__item h3{

}

.project__item__TL__avatar{
    border-radius: 50%;
    height: 15%;
    width: 15%;
}

.project__item__dev__avatar{
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.project__item__sub__container{
    align-items: center;
    display: flex;
    flex-direction: row;
    width:100%;
}

.project__item__sub__button__container{
    display: flex;
    flex-direction: column;
}

.project__item__sub__button{
    background-color: inherit;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    outline: none;
}