.slideMenu{
    position: absolute;
    top:100%;
    width: 400px;
    bottom: -100vh;
    background-color:#0079bf; 
    box-shadow: inset 0 3px 5px rgb(51, 51, 51); 
}

.slideMenu__close{
    position: relative;
    align-self: flex-end;
    width: 1em;
    height: 1em;
    opacity: 0.3;
}

.slideMenu__close:hover{
    opacity: 1;
}

.slideMenu__close:before, .slideMenu__close:after {
    position: absolute;
    content: '';
    left:.5em;
    height: 1em;
    width: 2px;
    background-color: #fff;
}

.slideMenu__close:before {
    transform: rotate(45deg);
}

.slideMenu__close:after {
    transform: rotate(-45deg);
}

.slideMenu__icon{
    color: #fff;
    cursor: pointer;
    margin: 20px;
}

.slideMenu-enter {
    right: -50vh;
  }
  
  .slideMenu-enter.slideMenu-enter-active {
    right: 0;
    transition: right .3s ease;
  }
  
  .slideMenu-leave {
    right: 0;
  }
  
  .slideMenu-leave.slideMenu-leave-active {
    right: -50vh;
    transition: right .3s ease;
  }