.header{
    height: 50px;
    width: 100%;
    background-color: lime;
    display: flex;
    justify-content: flex-end;
}

.header a{
    text-decoration: none;
}

.header .signIn{
    cursor: pointer;
    color: #fff;
    height: 100%;
    font-size: 1.5em;
}